<div class="col-7">
  <div class="mb-5">
    <%= link_to "Explore", hashtags_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <% @hashtags.each do |hashtag| %>
    <div class="hashtag p-3" data-controller="hashtag" data-url="<%= hashtag_path(hashtag) %>" >
      <p class="fw-bold mb-0 fs-5">#<%= hashtag.tag %></p>
      <p class="text-secondary fs-6 mb-0"><%= hashtag.tweets.size %> Tweets</p>
    </div>
  <% end %>
</div>
<div class="col">
  Column
</div>
